.container {
  /* padding-top: 40px; */
}
.imageandtext {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
}
.text {
  width: 50%;
  /* margin-left: 20px; */
}
.photo {
  width: 50%;
  height: 300px;
}
button {
  width: 150px;
  height: 40px;
  background-color: lightgreen;
  border-radius: 4px;
}
